pandas
PySide6
# PySide6WebEngine
# PyQtWebEngine
plotly
wordcloud
setuptools
appdirs
pynput
IPython
pyarrow
astor
typing-extensions
statsmodels
# qtstylish>=0.1.2
pywin32; platform_system=="Windows"
